<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring with Spring Boot, Spring MVC, and Kotlin</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>


<div class="container my-5">
    <h2 class="mb-5">Editar sucursal</h2>
    <div class="row">
        <div class="col-md-6">
            <form class="justify-content-center" th:object="${sucursal}" th:action="@{/sucursal/guardar/{id}(id=${sucursal.id})}"
                  method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nombre" class="col-form-label">Nombre</label>
                        <input id="nombre" class="form-control"  type="text" th:field="*{nombre}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="ubicacion" class="col-form-label">Ubicacion</label>
                        <input id="ubicacion" class="form-control"  type="text" th:field="*{ubicacion}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('ubicacion')}" th:errors="*{ubicacion}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="cierra" class="col-form-label">Cierra</label>
                        <input id="cierra" class="form-control"  type="time" th:field="*{cierra}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="abre" class="col-form-label">Abre</label>
                        <input id="abre" class="form-control" type="time" th:field="*{abre}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('cierra')}" th:errors="*{cierra}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('abre')}" th:errors="*{abre}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="gerente" class="col-form-label">Gerente</label>
                        <input id="gerente" class="form-control"  type="text" th:field="*{gerente}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('gerente')}" th:errors="*{gerente}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="mesas" class="col-form-label">Número de mesas</label>
                        <input id="mesas" class="form-control"  type="number" th:field="*{mesas}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('mesas')}" th:errors="*{mesas}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <span th:if="${errorSucursal}" th:text="${errorSucursal}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>